{% extends "base.html" %}
{% block content %}
    <h1 >Class rooms</h1>
    <a class="btn btn-success pull-right" href="{{ url_for('class_room.create') }}" style="margin-bottom: 20px"><i class="fa fa-plus"></i> Add new class room</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>UID</th>
            <th>Capacity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for class_room in class_rooms %}
            <tr>
                <td>{{ class_room.uid }}</td>
                <td>{{ class_room.capacity }}</td>
                <td>
                    <a href="{{ url_for('class_room.edit',_id=class_room.id) }}"
                       class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="{{ url_for('class_room.delete',_id=class_room.id) }}"
                       class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
